/* #root { */
/*   max-width: 1280px; */
/*   margin: 0 auto; */
/*   padding: 2rem; */
/*   text-align: center; */
/* } */

.app {
  display: inline-block;
}

.load-container {
  display: flex;

  margin-bottom: 2px;
}

.load-container input {
  flex: 1;
  min-width: 0;
}

.load-container button {
  padding: 0 1em;
}

.solver-container {
  display: flex;

  gap: 2px;
}
