.sudoku {
  box-sizing: border-box;

  border: 1px solid black;
  padding: 0;

  width: calc(27em + 2px);
  height: calc(27em + 12px);

  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}

.row {
  height: 3em;

  display: flex;
}

.row:not(:last-child) {
  border-bottom: 1px solid black;
}

.row:nth-child(3n+3):not(:last-child) {
  border-bottom: 2px solid blue;
}

.cell {
  box-sizing: border-box;
  background-clip: content-box;

  width: 2em;
  height: 2em;

  font-size: 1.5em;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.cell:hover {
  background: lightgrey;
}

.cell:not(:last-child) {
  border-right: 1px solid black;
}

.cell:nth-child(3n+3):not(:last-child) {
  border-right: 2px solid blue;
}

.candidate {
  width: 33%;
  height: 33%;

  font-size: 0.45em;
  font-weight: 400;
  color: grey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows {
  width: 0;
  height: 0;

  opacity: 0.6;
}
